.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
    .reset{
        background: brown;
        font-size: 18px;
        font-weight: bold;
        float: right;
        color: #fff;
        border-radius: 4px;
    }
    .reset:hover{
        cursor: pointer;
    }
}